#hero {
    padding-top: 30px;
    height: 30vh;
}

#hero a {
    margin-top: 2%;
}

#blurb {
    margin-top: 5%;
}

#images {
    margin-top: 5%;
    margin-bottom: 5%;
}

#images h1 {
    margin-top: 70px;
}

#images img{
    height: 200px;
    width: 200px;
}

