/*** GLOBAL STYLING ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap');

:root {
    --primary-color: #E2C2C5; /* Primary Pink */
    --seconadry-color: #E98D86; /* Darker Pink */
    --font-color-primary: #fff; /* White */
    --testimonial-color: #E2BF8D; /* Coffee color for testimonial */
}

/* remove bootstrap extra padding */
.container-fluid {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.card {
    border-color: transparent;
    background-color: transparent;
}

/* regular global styling */
body {
    color: var(--font-color-primary);
    background-image: url(../img/background.png);
}

h1, h2{
    font-family: 'Spectral';
    color: var(--font-color-primary);
    text-shadow: 2px 2px black;
}

img {
    width: 100%;
}

.container-fluid {
    overflow: hidden;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    border-color: none;
}

.btn {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #ffffff;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: var(--seconadry-color);
    border-color: var(--seconadry-color);
    color: #ffffff;
}

.btn:active, .btn.active {
    background: var(--primary-color);
    box-shadow: none;
}

@media screen and (max-width: 400px) {
    .container-fluid {
      padding: 0;
    }
  
    .container {
      padding: 0 15px;
    }
  
    .form-control {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
}

li>a:hover{
    text-decoration: underline;
}

/* HEADER STYLING */
#nav-color {
    background-color: var(--primary-color);
}

/** HOMEPAGE STYLING **/

/* CAROUSEL SECTION */
#carousel {
    margin-bottom: 5em;
}

.carousel-caption {
    top: 10%;
}

.carousel-caption h2 {
    margin-top: 15%;
    font-family: "Spectral";
}

.carousel p {
    color: var(--font-color-primary);
    text-shadow: 2px 2px #000;
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 16px;
    }
}

/* SECTION1 */
#company-info {
    margin-bottom: 5em;
}

#time {
    width: 70%;
}

#map {
    width: 100%;
    height: 90%;
    margin-top: 10%;
    border-radius: 2em;
    filter:blur(1rem);
}

#map:hover,
#map:focus,
#map:active {
    transition-duration: 3s;
    filter: none;
}

/** NEWSLETTER **/
#newsletter {
    margin-top: 5em;
    background-color: var(--seconadry-color);
    border-radius: 2em 2em 0 0;
    height: 40vh;
}

#newsletter h1 {
    text-shadow: none;
}

#newsletter .form-group {
    margin: 0 auto;
    width: 30vw;
    margin-bottom: 2em;
    margin-top: 2em;
}

@media screen and (max-width: 400px) {
    #newsletter {
        text-align: center;
        height: 50vh;
    }
    #newsletter .form-group {
        width: 100%;
    }
}

/* ABOUT PAGE */
/* Hero */
#abouthero {
    background-image: url(../img/AboutHero.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    height: 40vh;
}
  
/* Accomplish */
#accomplish .card {
    margin-top: 5em;
    margin-bottom: 5em;
    flex-direction: row;
    align-items: center;
    background: #E2C2C5;
}

.card-text {
    width: 75%;
}

@media screen and (max-width: 400px) {
    #abouthero h1 {
        text-align: center;
    }

    #accomplish .card {
        flex-direction: column;
    }
    .card-text, .card-title {
        width: 100%;
        text-align: center;
    }
}

#accomplish .card-body {
    padding-left: 2em;
}

#accomplish .card-title {
    text-shadow: none;
}

#accomplish p {
    color: #fff;
}    

#accomplish .card img {
    width: 100%;
}

#testimonial {
    background-color: var(--testimonial-color);
    padding: 3em;
    font-size: 24px;
    margin-bottom: 5em;
}

#testimonial p {
    position: relative;
    z-index: 1;
    font-weight: 300;
}

#testimonial .mx-auto {
    width: 50%;
}

.frontquote img {
    width: 100px;
    position: relative;
    top: 50px;
    left: 250px;
}

.backquote img {
    width: 100px;
    position: relative;
    float: right;
    bottom: 70px;
    right: 250px;
}

@media screen and (max-width: 400px) {
    #testimonial .mx-auto {
        width: 100%;
    }
    .frontquote img {
        left: 0px;
    }
    .backquote img {
        right: 0px;
    }
}

/* MENU PAGE */
/* Menu Picture */
#menu img{
    width: 100%;
}

#crayon {
    margin-top: 5em;
    margin-bottom: 5em;
}

#crayon h1, p {
    text-shadow: none;
    color: #000; /* black */
}

/** FOOTER STYLING **/
#footer {
    height: 20vh;
    background-color: var(--primary-color);
    bottom: 0;
}

#footer img {
    width: 48px;
}